@import "shop/css/variables";

// header
$body-header-height: 50px;
$body-header-lg-height: 90px;

$border-radius: 0;

// footer
$body-footer-margin: 1rem;
$body-footer-color: $white;
$body-footer-bg: #0058a3;
$body-footer-border: $gray-900;
$body-footer-link-color: $white;
$body-footer-link-hover-color: $body-footer-color;
$body-footer-link-active-color: $body-footer-color;
